---
layout: default
---

<header>
  <img id="avatar" class="avatar" src="/files/avatar.jpg" alt="{{ site.fullname }}">
  <div id="header">
    <h1>{{ site.fullname }}</h1>
  </div>
  <nav>
    <span><a title="Archive" href="/archive.html"><i class="fa fa-list-ul"></i></a></span>
    <span><a title="Tags" href="/tags.html"><i class="fa fa-tags"></i></a></span>
    <span><a title="About" href="/about.html"><i class="fa fa-user"></i></a></span>
    <span><a title="Subscribe" href="/atom.xml"><i class="fa fa-rss"></i></a></span>
  </nav>
  <p class="intro">Hi, I am Jie Ma. I am a developer and photographer.</p>
  <p>
    <a title="Twitter" href="http://twitter.com/imdecoder/"<i class="fa fa-twitter"></i></a>
    <a title="Github" href="http://github.com/imdecoder/"<i class="fa fa-github"></i></a>
    <a title="Weibo" href="http://weibo.com/kenziii/"<i class="fa fa-weibo"></i></a>
    <a title="Flickr" href="http://www.flickr.com/photos/dakkon"<i class="fa fa-flickr"></i></a>
    <a title="Facebook" href="https://www.facebook.com/jiema"<i class="fa fa-facebook"></i></a>
    <a title="Linkedin" href="http://au.linkedin.com/in/jiema"<i class="fa fa-linkedin"></i></a>
  </p>
</header>
<hr>

{% for post in paginator.posts limit: 1 %}
  {% include post.md param=post.show %}
{% endfor %}

<hr>

{% for post in paginator.posts offset: 1 %}
  {% include post.md %}
{% endfor %}

<!-- Pagination links -->

<div class="pageNav">
  {% if paginator.previous_page %}
    <div class="prev"><a href="/{{ paginator.previous_page_path }}">Newer</a></div>
  {% endif %}
  {% if paginator.next_page %}
    <div class="next"><a href="/{{ paginator.next_page_path }}">Older</a></div>
  {% endif %}
</div>
