<h1>Hello World!</h1>
    <div class="article-wrap">
      <p>My name is <strong>{{ site.owner.name }}</strong>, I am a <strong>PHP developer</strong> from Sydney.
      I am also a freelance photographer, this is my <a href="http://www.flickr.com/{{ site.owner.flickr }}" target="_blank">portfolio</a>.</p>

      <h4>Blog</h4>
      <p>I write <a href="/posts/">blog posts</a> to note snippets, share ideas, and talk anything I am interested.</p>

<h4>Skill</h4>
<p>Please take a look my current <a href="/skill/">skill level</a> to see if I am the one you want.</p>

<h4>a</h4>

<blockquote>
  <table>
    <tbody>
      <tr>
        <td>Developer</td>
        <td>Photographer</td>
        <td>Minimalist</td>
        <td>Appleist</td>
      </tr>
    </tbody>
  </table>
</blockquote>

<h4>who involved in</h4>

<blockquote>
  <p><a href="https://github.com/{{ site.owner.github }}">github</a></p>
</blockquote>

<h4>mail</h4>

<blockquote>
  <p>dc -e 8662021099352651176671839960105904044469514P</p>
</blockquote>

<h4>follow</h4>

<blockquote>
  <p><a href="https://twitter.com/#!/{{ site.owner.twitter }}">@{{ site.owner.twitter }}</a></p>
</blockquote>

<p>to reach me</p>
