@import url(http://fonts.googleapis.com/css?family=Volkhov);

@mixin link {
  a, a:visited, a:link {
    color: darkred;
  }
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  background: #fff;
  font: 62.5% 'Volkhov', palatino, "times new roman", serif;
  color: #333;
  margin: 0
}

aside {
  width: 270px;
  height: 100%;
  padding: 50px 0px 0px 50px;
  position: fixed;
  top: 0;
  left: 0;
  color: darkred;
  background-image: url(/img/aside-bg.png);
  box-shadow: 0 0 3px black;

  p {
    margin: 0;
    color: darkred;
    font-size: 12pt;
    width: 180px;
    margin-bottom: 10px;
  }

  ul {
    width: 180px;
    margin: 0;

    li {
      list-style: none;
    }
  }

  a, a:link, a:visited {
    color: #1e519e !important;
    border-bottom: 1px dotted #ddd;
    font-size: 12pt;
  }
}

#avatar {
  width: 120px;
  border-radius: 50%;
  display: block;
  margin: 0 10px 40px 0;
  box-shadow: 0 0 0 2px white;
  -webkit-transition: 200ms;
     -moz-transition: 200ms;
      -ms-transition: 200ms;
       -o-transition: 200ms;
          transition: 200ms;
}

#avatar:hover {
  box-shadow: 0 0 0 2px #000;
}

#main {
  line-height: 1.6em;
  display: block;
  max-width: 800px;
  margin: 40px auto;
  padding: 30px 80px;
}

#posts {
  .postTitle {
    a:hover {
      background-color: darkred;
      color: #fff;
    }
  }

  .shiftTitle {
    margin-left: 17px;
  }

  li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    margin-bottom: 0px;
    list-style: none;
    font-size: 12pt;
    line-height: 1.2em;

    @include link;

    time {
      color: #aaa;
      font-size: 10pt;
    }

    .postSnap {
      margin-left: 30px;
    }
  }
}

.pageNav {
  @include link;
}

article {
  font-size: 12pt;
  margin-bottom: 30px;
  line-height: 1.2em;

  .postTitle {
    font-size: 15pt;
    color: darkred;
    margin-bottom: 25px;

    time {
      color: #aaa;
      font-size: 10pt;
    }
  }

  .postMeta {
    color: #aaa;
    font-size: 10pt;
  }

  .postRelated {
    ul{
      padding-left: 5px;

      li {
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 100%;
        margin-bottom: 10px;
        list-style: none;
        font-size: 10pt;
        line-height: 1em;
      }
    }
  }
  @include link;
}

.comment {
  font-size: 10pt;
  @include link;
}

.listing {

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  margin-bottom: 10px;
  list-style: none;
  font-size: 12pt;
  line-height: 1.5em;
  padding-left: 0px;

  @include link;

  time {
    color: #aaa;
    font-size: 10pt;
  }

  li.listing-seperator {
      font-weight: bold;
  }
}

#tag_cloud {
  font-size: 12pt;

  @include link;
}

.prettyprint {
  font-size: 12px;
  li {
    list-style-type: decimal !important;
  }
}
/*
-------------------------------------------------------------------- */

@media (max-width: 1220px) {
  #main {
    margin: 40px 0 0 220px;
  }
  #comments {
    margin: 0 0 0 300px;
  }
}


@media (max-width: 950px) {
  #posts li time {
    display: none;
  }
}

@media (max-width: 800px) {
  aside {
    width: 100%;
    height: auto;
    padding: 14px;
    position: static;
    font-size: 110%;
  }

  aside p {
    width: 100%;
  }

  #main {
    margin: 0 auto;
    padding-top: 50px;
    width: 100%;
  }
  #comments {
    margin: 0 auto;
  }
  #avatar {
    display: inline;
    margin: 0 15px 0 0;
    float: left;
  }

  #main {
    padding: 50px 20px;
  }
}
